$borderColor: #e4e7ed;
$activeColor: #409EFF;
$fontColor: #303133;
.TabBar {
  .remove-all-tab {
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px solid $borderColor;
    border-left: 1px solid $borderColor;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    cursor: pointer;
  }

  .el-tabs__item.is-active a {
    color: $activeColor;

  }

  .el-tabs__item a {
    color: $fontColor;
    text-decoration: none;
  }

  .toggle-menu {
    float: left;
    font-size: 18px;
    color: $fontColor;
    line-height: 40px;
    height: 40px;
    width: 30px;
    text-align: center;
    border-bottom: 2px solid $borderColor;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    cursor: pointer;
  }

  .el-tabs__header {
    margin: 0
  }
}